
body {
  background-image: url( "https://i.pinimg.com/originals/91/71/f9/9171f9f0d4bd0f12c60e541a00e86776.jpg");
   background-color: #111144;
}

#page-wrapper{
  background-color: #ddddff;
 align-items: center;
 align-content: center;
 text-align:  center;

}


/*
navigation bar
*/

header {
  width: 80%;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  position: fixed;
  top: 0;
  left:10%;
  display: flex;
  align-items: center;
  background-color: #040506;
}
#header-img{
   width :75px;
   height:75px;
}


nav {
  @media (max-width: 650px) {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 0 50px;
    li {
     padding-bottom: 5px;
    }
 }
}
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    @media (max-width: 650px) {
      flex-direction: column;
    }
  }
ul>li{
    marign-left:30px;
}
  a{
    padding-left: 15px;
    padding-right: 6px;
  }

/*
description
*/
#description{
margin-top:500px;
}


/*
fun
*/

#fun {
  padding-top: 500px;
  padding-bottom: 500px;
  #video{
    width:100%;
    height:auto;
    frameborder:0;
  }
}

/*
prices
*/

#name{
  text-align: center;
}
#prices {
  display: flex;
  flex-direction: row;
  justify-content: center;

  #take-away, #team, #single {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    border: 1px solid #090909;
    border-radius: 1px;

    .level {
      background-color: #ededed;
      color: #161616;
      width: 100%;
      text-transform: uppercase;
    }
  }

}

/*
register
*/

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 50px;
  h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
  }

  input[type="email"] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
    margin-left: 15px;
  }

  input[type="submit"] {
    max-width: 200px;
    width: 100%;
    height: 45px;
    margin: 15px 0;
    border: 1px solid darkviolet;
    background-color: darkblue;
  }

  @media (max-width: 650px) {
    margin-top: 120px;
  }
}

/*
footer
*/

footer {
  margin-top: 45px;
  background-color: #eee;
  padding: 16px;

  ul {
    display: flex;
    justify-content: flex-end;

    li {
      padding: 1px 15px;
    }
  }
}
